<div class="min-vh-100 bg-gradient-primary d-flex flex-column">
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center text-white">
          <h1 class="display-3 fw-bold mb-4 text-shadow" style="color: black;">¡Bienvenido!</h1>
          
          
          <div class="d-flex gap-3 justify-content-center flex-wrap">
            <button type="button" class="btn btn-outline-primary" (click)="navigateToLogin()">iniciar sesion</button>
            
            <button type="button" class="btn btn-outline-secondary" (click)="navigateToRegister()">registrarse</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>